<div class="search-page">
  <h1>Search Political Articles</h1>
  
  <div class="search-container">
    <mat-form-field class="search-type-field">
      <mat-select [(ngModel)]="searchType" (selectionChange)="onSearchTypeChange()">
        <mat-option value="top-headlines">Top Headlines</mat-option>
        <mat-option value="by-topic">By Topic</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="search-field">
      <input matInput [(ngModel)]="searchQuery" (keyup.enter)="search()" placeholder="Enter search query">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="search()">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>
</div> 